USE [master]
GO
/****** Object:  Database [ROWDY_SHEETS_DATABASE]    Script Date: 14-08-2026 16:41:50 ******/
CREATE DATABASE [ROWDY_SHEETS_DATABASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROWDY_SHEETS_DATABASE', FILENAME = N'D:\SQL SOFTWARE 2016 INSTALLATION\MSSQL13.DAU_HYD_2023\MSSQL\DATA\ROWDY_SHEETS_DATABASE.mdf' , SIZE = 5251072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROWDY_SHEETS_DATABASE_log', FILENAME = N'D:\SQL SOFTWARE 2016 INSTALLATION\MSSQL13.DAU_HYD_2023\MSSQL\DATA\ROWDY_SHEETS_DATABASE_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROWDY_SHEETS_DATABASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROWDY_SHEETS_DATABASE]
GO
USE [ROWDY_SHEETS_DATABASE]
GO
/****** Object:  Table [dbo].[1400_CRIME_DETAILS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1400_CRIME_DETAILS](
	[RWD_ID] [varchar](8000) NULL,
	[RWD_POLICE_STATION] [varchar](8000) NULL,
	[Crno ] [varchar](8000) NULL,
	[Year] [varchar](8000) NULL,
	[Sec_of_law] [varchar](8000) NULL,
	[Confessed_ps] [varchar](8000) NULL,
	[CASE_STATUS] [varchar](8000) NULL,
	[NBWS_PENDING] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[1400_ROWDY_SHEETER]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1400_ROWDY_SHEETER](
	[RWD_ID] [varchar](8000) NULL,
	[Irkey] [varchar](8000) NULL,
	[PDAct_Key] [varchar](8000) NULL,
	[latest_arrest] [varchar](8000) NULL,
	[police_station] [varchar](8000) NULL,
	[date_of_rwd] [varchar](8000) NULL,
	[year1] [varchar](8000) NULL,
	[name] [varchar](8000) NULL,
	[Age] [varchar](8000) NULL,
	[father_name] [varchar](8000) NULL,
	[present_address] [varchar](8000) NULL,
	[Latitude1 ] [varchar](8000) NULL,
	[Langitude1 ] [varchar](8000) NULL,
	[permanent_address] [varchar](8000) NULL,
	[Latitude2] [varchar](8000) NULL,
	[Langitude2 ] [varchar](8000) NULL,
	[phone] [varchar](8000) NULL,
	[idproof] [varchar](8000) NULL,
	[ID_No] [varchar](8000) NULL,
	[communal_non_communal] [varchar](8000) NULL,
	[active] [varchar](8000) NULL,
	[latest_bind_over] [varchar](8000) NULL,
	[year2] [varchar](8000) NULL,
	[present_activity] [varchar](8000) NULL,
	[photo_id] [varchar](8000) NULL,
	[Remarks ] [varchar](8000) NULL,
	[ps_transfer] [varchar](8000) NULL,
	[count_of_cases] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[1400_ROWDY_SHEETER_NEW]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1400_ROWDY_SHEETER_NEW](
	[RWD_ID] [varchar](8000) NULL,
	[Irkey] [varchar](8000) NULL,
	[PDAct_Key] [varchar](8000) NULL,
	[latest_arrest] [varchar](8000) NULL,
	[police_station] [varchar](8000) NULL,
	[date_of_rwd] [varchar](8000) NULL,
	[YEAR] [varchar](8000) NULL,
	[name] [varchar](8000) NULL,
	[Age] [varchar](8000) NULL,
	[father_name] [varchar](8000) NULL,
	[present_address] [varchar](8000) NULL,
	[Latitude1 ] [varchar](8000) NULL,
	[Langitude1 ] [varchar](8000) NULL,
	[permanent_address] [varchar](8000) NULL,
	[Latitude2] [varchar](8000) NULL,
	[Langitude2 ] [varchar](8000) NULL,
	[phone] [varchar](8000) NULL,
	[idproof] [varchar](8000) NULL,
	[ID_No] [varchar](8000) NULL,
	[communal_noncommunal] [varchar](8000) NULL,
	[ACTIVE_STATUS] [varchar](8000) NULL,
	[latest_bind_over] [varchar](8000) NULL,
	[year2] [varchar](8000) NULL,
	[present_activity] [varchar](8000) NULL,
	[photo_id] [varchar](8000) NULL,
	[Remarks ] [varchar](8000) NULL,
	[TRANSFER_PS] [varchar](8000) NULL,
	[COUNT_OF_INVOLVED_CASES] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[275_CRIME_DETAILS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[275_CRIME_DETAILS](
	[RWD_ID1] [varchar](8000) NULL,
	[RWD_POLICE_STATION] [varchar](8000) NULL,
	[CRNO] [varchar](8000) NULL,
	[Year] [varchar](8000) NULL,
	[Sec_of_law] [varchar](8000) NULL,
	[Confessed_ps] [varchar](8000) NULL,
	[CASE_STATUS] [varchar](8000) NULL,
	[NBWS_PENDING] [varchar](8000) NULL,
	[RWD_ID] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[275_ROWDY_SHEETER]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[275_ROWDY_SHEETER](
	[SLNO] [varchar](8000) NULL,
	[IRKEY] [varchar](8000) NULL,
	[PDACT] [varchar](8000) NULL,
	[POLICE_STATION] [varchar](8000) NULL,
	[LATEST_ARREST] [varchar](8000) NULL,
	[date_of_rwd] [varchar](8000) NULL,
	[year] [varchar](8000) NULL,
	[NAME] [varchar](8000) NULL,
	[AGE] [varchar](8000) NULL,
	[FATHER_NAME] [varchar](8000) NULL,
	[COMMUNAL_NON_COMMUNAL] [varchar](8000) NULL,
	[INVOLVED_CRIME] [varchar](8000) NULL,
	[PRESENT_ACTIVITY] [varchar](8000) NULL,
	[REMARKS] [varchar](8000) NULL,
	[OV Since ] [varchar](8000) NULL,
	[ACTIVE] [varchar](8000) NULL,
	[RWD_ID] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[275_ROWDY_SHEETER_NEW]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[275_ROWDY_SHEETER_NEW](
	[SLNO] [varchar](8000) NULL,
	[IRKEY] [varchar](8000) NULL,
	[PDACT_KEY] [varchar](8000) NULL,
	[LATEST_ARREST] [varchar](8000) NULL,
	[POLICE_STATION] [varchar](8000) NULL,
	[date_of_rwd] [varchar](8000) NULL,
	[year] [varchar](8000) NULL,
	[NAME] [varchar](8000) NULL,
	[AGE] [varchar](8000) NULL,
	[FATHER_NAME] [varchar](8000) NULL,
	[PRESENT_ADDRESS] [varchar](8000) NULL,
	[LATITUDE1] [varchar](8000) NULL,
	[LONGITUDE1] [varchar](8000) NULL,
	[PERMANENT_ADDRESS] [varchar](8000) NULL,
	[LATITUDE2] [varchar](8000) NULL,
	[LONGITUDE2] [varchar](8000) NULL,
	[PHONE] [varchar](8000) NULL,
	[IDPROOF] [varchar](8000) NULL,
	[ID_NO] [varchar](8000) NULL,
	[COMMUNAL_NONCOMMUNAL] [varchar](8000) NULL,
	[ACTIVE_STATUS] [varchar](8000) NULL,
	[LATEST_BIND_OVER] [varchar](8000) NULL,
	[PRESENT_ACTIVITY] [varchar](8000) NULL,
	[PHOTO_ID] [varchar](8000) NULL,
	[REMARKS] [varchar](8000) NULL,
	[TRANSFER_PS] [varchar](8000) NULL,
	[COUNT_OF_INVOLVED_CASES] [varchar](8000) NULL,
	[RWD_ID] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[common_number_fltr]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_number_fltr](
	[other] [varchar](15) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[count1] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMON_NUMBER_PRO_NAME]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_NUMBER_PRO_NAME](
	[other] [varchar](15) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[count1] [int] NULL,
	[PROFILE_NAME] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[common_report]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_report](
	[other] [varchar](15) NOT NULL,
	[phones] [nvarchar](max) NULL,
	[totalnumberofphones] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMON_REPORT_FINAL]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_REPORT_FINAL](
	[other] [varchar](15) NOT NULL,
	[PROFILE_NAME] [nvarchar](max) NULL,
	[totalnumberofphones] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EAST_ZONE_ROWDY]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EAST_ZONE_ROWDY](
	[slno] [varchar](5000) NULL,
	[phone] [varchar](5000) NULL,
	[Name] [varchar](5000) NULL,
	[Police_Station] [varchar](5000) NULL,
	[Division] [varchar](5000) NULL,
	[Zone] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMMON_NUMBERS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMMON_NUMBERS](
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMMON_NUMBERS_SOUTH]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMMON_NUMBERS_SOUTH](
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMMON_NUMBERS_SOUTH_WITH_TC]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMMON_NUMBERS_SOUTH_WITH_TC](
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMMON_NUMBERS_SOUTH_WITH_TC_1]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMMON_NUMBERS_SOUTH_WITH_TC_1](
	[rank1] [bigint] NULL,
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMMON_NUMBERS_WITH_TC]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMMON_NUMBERS_WITH_TC](
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINAL_COMON_REPORT_1]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINAL_COMON_REPORT_1](
	[rank1] [bigint] NULL,
	[other] [varchar](25) NOT NULL,
	[PRO_NAME] [nvarchar](max) NULL,
	[TOTAL_CONTACTS] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HYDERABAD_ROWDY_SHEETS_SAM_SIR]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HYDERABAD_ROWDY_SHEETS_SAM_SIR](
	[SLNO] [varchar](8000) NULL,
	[POLICE_STATION] [varchar](8000) NULL,
	[NAME_AGE_ADDRESS] [varchar](8000) NULL,
	[COMMUNAL_OR_NONCOMMUNAL] [varchar](8000) NULL,
	[INVOLVED_CRIMES] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LATEST_IMSI_CDRS_SIX_MONTHS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATEST_IMSI_CDRS_SIX_MONTHS](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[DURATION] [numeric](5, 0) NOT NULL,
	[INCOMING] [tinyint] NOT NULL,
	[IMEINUMBER] [numeric](15, 0) NOT NULL,
	[IMSINUMBER] [numeric](18, 0) NULL,
	[CELLTOWERID] [varchar](50) NULL,
	[OTHERINFO] [varchar](50) NULL,
	[TOWER_KEY] [numeric](18, 0) NULL,
	[PROVIDER_KEY] [tinyint] NOT NULL,
	[STATE_KEY] [tinyint] NULL,
	[FIRST_CELLID] [varchar](50) NULL,
	[LAST_CELLID] [varchar](50) NULL,
	[ROAMING_NW] [varchar](50) NULL,
	[CALL_TYPE] [varchar](25) NULL,
	[CALLING_NO] [varchar](50) NULL,
	[CALLED_NO] [varchar](50) NULL,
	[ASONDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LATEST_IMSINUMBERS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATEST_IMSINUMBERS](
	[PHONE] [varchar](15) NOT NULL,
	[IMSINUMBER] [numeric](18, 0) NULL,
	[MAXTIME] [datetime] NULL,
	[RANK1] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVEMENTS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVEMENTS](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](15) NOT NULL,
	[NICKNAME] [nvarchar](max) NULL,
	[STARTTIME] [varchar](30) NULL,
	[DURATION] [numeric](5, 0) NOT NULL,
	[TYPE] [varchar](3) NOT NULL,
	[IMEINUMBER] [numeric](15, 0) NOT NULL,
	[CELLTOWERID] [varchar](51) NULL,
	[LAST_CELLID] [varchar](50) NULL,
	[OPERATOR] [varchar](50) NULL,
	[STATE] [nvarchar](255) NULL,
	[AREADESCRIPTION] [varchar](8000) NULL,
	[LAT] [varchar](20) NULL,
	[LONG] [varchar](50) NULL,
	[AZM] [varchar](20) NULL,
	[ADDRESS] [varchar](8000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTHER_TRUECALLER]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTHER_TRUECALLER](
	[Phone] [float] NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[True_caller_Name] [nvarchar](255) NULL,
	[Aadhar_No] [float] NULL,
	[Fullname] [nvarchar](255) NULL,
	[Dob] [datetime] NULL,
	[FatherName] [nvarchar](255) NULL,
	[Fulladdress] [nvarchar](255) NULL,
	[Alt_cnt_No] [float] NULL,
	[Operator] [nvarchar](255) NULL,
	[Circle] [nvarchar](255) NULL,
	[Doa] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTHER_TRUECALLER_1]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTHER_TRUECALLER_1](
	[Phone] [float] NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[True_caller_Name] [nvarchar](255) NULL,
	[Aadhar_No] [float] NULL,
	[Fullname] [nvarchar](255) NULL,
	[Dob] [datetime] NULL,
	[FatherName] [nvarchar](255) NULL,
	[Fulladdress] [nvarchar](255) NULL,
	[Alt_cnt_No] [float] NULL,
	[Operator] [nvarchar](255) NULL,
	[Circle] [nvarchar](255) NULL,
	[Doa] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICE_POLITICAL_REPORT]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICE_POLITICAL_REPORT](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[FIRST_CALL] [datetime] NULL,
	[LAST_CALL] [datetime] NULL,
	[OUTGOING_CALLS] [int] NULL,
	[INCOMING_CALLS] [int] NULL,
	[TOTAL_CALLS] [int] NULL,
	[TOTAL_DURATION] [numeric](38, 0) NULL,
	[NAME] [varchar](5000) NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[FULLNAME] [nvarchar](255) NULL,
	[FULLADDRESS] [nvarchar](255) NULL,
	[DOA] [datetime] NULL,
	[CIRCLE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLITICAL_POLICE_TC]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLITICAL_POLICE_TC](
	[PHONE] [float] NULL,
	[FULLNAME] [nvarchar](255) NULL,
	[FULLADDRESS] [nvarchar](255) NULL,
	[CIRCLE] [nvarchar](255) NULL,
	[DOA] [datetime] NULL,
	[TRUE_CALLER_NAME] [nvarchar](255) NULL,
	[DEPARTMENT] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILING]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILING](
	[SLNO] [varchar](5000) NULL,
	[PHONE] [varchar](5000) NULL,
	[NAME] [varchar](5000) NULL,
	[POLICE_STATION] [varchar](5000) NULL,
	[DIVISION] [varchar](5000) NULL,
	[ZONE] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PS_NAMES]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PS_NAMES](
	[ZONE] [varchar](10) NULL,
	[DIVISION] [varchar](30) NULL,
	[POLICE_STATION] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROWDY_SHEETER_COMPLETE_DATA]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROWDY_SHEETER_COMPLETE_DATA](
	[RWD_ID] [varchar](8000) NULL,
	[Irkey] [varchar](8000) NULL,
	[PDAct_Key] [varchar](8000) NULL,
	[latest_arrest] [varchar](8000) NULL,
	[police_station] [varchar](8000) NULL,
	[date_of_rwd] [varchar](8000) NULL,
	[YEAR] [varchar](8000) NULL,
	[name] [varchar](8000) NULL,
	[Age] [varchar](8000) NULL,
	[father_name] [varchar](8000) NULL,
	[present_address] [varchar](8000) NULL,
	[Latitude1 ] [varchar](8000) NULL,
	[Langitude1 ] [varchar](8000) NULL,
	[permanent_address] [varchar](8000) NULL,
	[Latitude2] [varchar](8000) NULL,
	[Langitude2 ] [varchar](8000) NULL,
	[phone] [varchar](8000) NULL,
	[idproof] [varchar](8000) NULL,
	[ID_No] [varchar](8000) NULL,
	[communal_noncommunal] [varchar](8000) NULL,
	[ACTIVE_STATUS] [varchar](8000) NULL,
	[latest_bind_over] [varchar](8000) NULL,
	[year2] [varchar](8000) NULL,
	[present_activity] [varchar](8000) NULL,
	[photo_id] [varchar](8000) NULL,
	[Remarks ] [varchar](8000) NULL,
	[TRANSFER_PS] [varchar](8000) NULL,
	[COUNT_OF_INVOLVED_CASES] [varchar](8000) NULL,
	[ZONE] [varchar](10) NULL,
	[DIVISION] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROWDY_SHEETS_CDRS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROWDY_SHEETS_CDRS](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[DURATION] [numeric](5, 0) NOT NULL,
	[INCOMING] [tinyint] NOT NULL,
	[IMEINUMBER] [numeric](15, 0) NOT NULL,
	[IMSINUMBER] [numeric](18, 0) NULL,
	[CELLTOWERID] [varchar](50) NULL,
	[OTHERINFO] [varchar](50) NULL,
	[TOWER_KEY] [numeric](18, 0) NULL,
	[PROVIDER_KEY] [tinyint] NOT NULL,
	[STATE_KEY] [tinyint] NULL,
	[FIRST_CELLID] [varchar](50) NULL,
	[LAST_CELLID] [varchar](50) NULL,
	[ROAMING_NW] [varchar](50) NULL,
	[CALL_TYPE] [varchar](25) NULL,
	[CALLING_NO] [varchar](50) NULL,
	[CALLED_NO] [varchar](50) NULL,
	[ASONDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROWDY_SHEETS_CDRS1]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROWDY_SHEETS_CDRS1](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[DURATION] [numeric](5, 0) NOT NULL,
	[INCOMING] [tinyint] NOT NULL,
	[IMEINUMBER] [numeric](15, 0) NOT NULL,
	[IMSINUMBER] [numeric](18, 0) NULL,
	[CELLTOWERID] [varchar](50) NULL,
	[OTHERINFO] [varchar](50) NULL,
	[TOWER_KEY] [numeric](18, 0) NULL,
	[PROVIDER_KEY] [tinyint] NOT NULL,
	[STATE_KEY] [tinyint] NULL,
	[FIRST_CELLID] [varchar](50) NULL,
	[LAST_CELLID] [varchar](50) NULL,
	[ROAMING_NW] [varchar](50) NULL,
	[CALL_TYPE] [varchar](25) NULL,
	[CALLING_NO] [varchar](50) NULL,
	[CALLED_NO] [varchar](50) NULL,
	[ASONDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOUTH_ZONE_ROWDY]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOUTH_ZONE_ROWDY](
	[SLNO] [varchar](5000) NULL,
	[PHONE] [varchar](5000) NULL,
	[NAME] [varchar](5000) NULL,
	[PS] [varchar](5000) NULL,
	[DIVISION] [varchar](5000) NULL,
	[ZONE] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE_REPORT_DATA]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE_REPORT_DATA](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[PROFILE_NAME] [varchar](8000) NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE_REPORT_DATA_LATEST_IMSI]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE_REPORT_DATA_LATEST_IMSI](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[PROFILE_NAME] [varchar](8000) NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSPECT_SHEETS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSPECT_SHEETS](
	[SUSPECT_KEY] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Police_Station] [varchar](100) NULL,
	[Date_of_Opening_the_sheet] [varchar](500) NULL,
	[Name] [varchar](1000) NULL,
	[Fathername] [varchar](1000) NULL,
	[full_details] [varchar](800) NULL,
	[Rowdy_id] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTAL_CDRS]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL_CDRS](
	[PHONE] [varchar](15) NOT NULL,
	[OTHER] [varchar](25) NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[DURATION] [numeric](5, 0) NOT NULL,
	[INCOMING] [tinyint] NOT NULL,
	[IMEINUMBER] [numeric](15, 0) NOT NULL,
	[IMSINUMBER] [numeric](18, 0) NULL,
	[CELLTOWERID] [varchar](50) NULL,
	[OTHERINFO] [varchar](50) NULL,
	[TOWER_KEY] [numeric](18, 0) NULL,
	[PROVIDER_KEY] [tinyint] NOT NULL,
	[STATE_KEY] [tinyint] NULL,
	[FIRST_CELLID] [varchar](50) NULL,
	[LAST_CELLID] [varchar](50) NULL,
	[ROAMING_NW] [varchar](50) NULL,
	[CALL_TYPE] [varchar](25) NULL,
	[CALLING_NO] [varchar](50) NULL,
	[CALLED_NO] [varchar](50) NULL,
	[ASONDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[total_common_number_fltr]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[total_common_number_fltr](
	[other] [varchar](15) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[count1] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTAL_COMMON_NUMBER_PRO_NAME]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL_COMMON_NUMBER_PRO_NAME](
	[other] [varchar](15) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[count1] [int] NULL,
	[PROFILE_NAME] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[total_COMMON_REPORT_FINAL]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[total_COMMON_REPORT_FINAL](
	[other] [varchar](15) NOT NULL,
	[PROFILE_NAME] [nvarchar](max) NULL,
	[totalnumberofphones] [int] NULL,
	[ADDRESS] [varchar](1393) NULL,
	[STATE] [varchar](55) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTAL_OTHER_TRUECALLER]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL_OTHER_TRUECALLER](
	[Phone] [float] NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[True_caller_Name] [nvarchar](255) NULL,
	[Aadhar_No] [float] NULL,
	[Fullname] [nvarchar](255) NULL,
	[Dob] [datetime] NULL,
	[FatherName] [nvarchar](255) NULL,
	[Fulladdress] [nvarchar](255) NULL,
	[Alt_cnt_No] [float] NULL,
	[Operator] [nvarchar](255) NULL,
	[Circle] [nvarchar](255) NULL,
	[Doa] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTAL_ROWDY_CRIMES]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL_ROWDY_CRIMES](
	[RWD_ID] [varchar](8000) NULL,
	[RWD_POLICE_STATION] [varchar](8000) NULL,
	[Crno ] [varchar](8000) NULL,
	[Year] [varchar](8000) NULL,
	[Sec_of_law] [varchar](8000) NULL,
	[Confessed_ps] [varchar](8000) NULL,
	[CASE_STATUS] [varchar](8000) NULL,
	[NBWS_PENDING] [varchar](8000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEST_ZONE_ROWDY]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEST_ZONE_ROWDY](
	[slno] [varchar](5000) NULL,
	[phone] [varchar](5000) NULL,
	[NAME] [varchar](5000) NULL,
	[police_station] [varchar](5000) NULL,
	[DIVISION] [varchar](5000) NULL,
	[ZONE] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[common_numbers]    Script Date: 14-08-2026 16:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [dbo].[common_numbers]
as
begin

drop table common_numbertable3
select phone,other,count(other)as count1  INTO common_numbertable1 from CDATDUPL..cdatPCSUSPECT
WHERE PHONE IN (SELECT DISTINCT PHONE FROM ROWDY_SHEETS_DATABASE..total_cdrs where convert(date,starttime) between '2019-12-31' and '2020-06-01')
AND OTHER LIKE '[6-9]%' AND LEN(OTHER) BETWEEN '10' AND '12'
group by other,phone order by other,phone
select other,phone,count(other) count1 INTO common_numbertable2 from common_numbertable1
group by other,phone order by other
SELECT distinct
   other, 
   (SELECT  phone+ ', ' 
    FROM common_numbertable2 US
    WHERE US.other = SS.other
    FOR XML PATH('')) [phones],(select sum(count1) from common_numbertable2 xx where xx.other = SS.other)  totalnumberofphones
into common_numbertable3 FROM common_numbertable2 SS
GROUP BY SS.other
ORDER BY 1
delete from common_numbertable3
where totalnumberofphones=1
drop table common_numbertable1
drop table common_numbertable2
update common_numbertable3 set phones=left(phones,len(phones)-1)+'.'
select distinct *   from common_numbertable3
WHERE OTHER LIKE '[6-9]%' and len(other)=10
AND OTHER NOT IN ('5496978056','8294982942','9212267970','8888888888','9448331696','8125055023','8125599909'
,'9030029820','7842055085','8052175595','8052175342','9891001109','9891998420','7760962785','9686202397','9024666666','9848824365'
,'8953003068','9936218000','9884098840','9719097190','8191010509','9845098450','8294982944','9212364448','9546695466','7488254286'
,'8125055024','8125599929','9030029821','7842055087','8052175593','8052175343','9891001316','9911130849','90008020617','9686202450'
,'9831378000','8071636101','7788777766','9121357123','9961824365','9818181234','8191010512','9560345888','8434784645','9236926691'
,'9885870090','7488254287','8125055025','8885599298','9030029822','7842055090','8052175592','8052175344','9891002260','9911130872'
,'9686453869','9686576258','7570736870','8039901800','7788777134','7893094589','9446256789','9212316666','8191010530','9223440000'
,'8757187575','9282113021','8888823456','7488254289','9891002740','903029811','9989468888','8125055015','8052175596','8052175346',
'9891002456','9911134090','9686453752','9686692279','8090355008','9845098450','7775557771','8015555555555','8951055098','9216148450'
,'8191010531','8726024365','8757187576','9282151079','9822012345','8121055035','9891002989','9030029812','9891006526','9030355003',
'8052175341','8052175347','9891002621','9911134151','9686454672','9686692281','8285684180','988078877','7777887748','9849578000',
'7755448877','9824423456','8191010532','5266539673','8976057645','9282151082','9730124130','8125055016','9891003503','9030029813',
'9891006886','9059365328','9891070218','9792063323','9891002651','9911134211','9845260210','9845578000','8376051594','9964023456',
'7788777134','9212230707','9848701419','9222208888','8191010534','9232232665','8294982941','9708024365','9885098850','8125055017',
'9891003551','9030029814','9891007083','9490618256','9891070224','9721135598','9891070395','9911134309','9880286053','9845911123',
'8376051911','9870807070','7788777766','8527121333','9287090010','9243355223','8191010536','8294082940','9162001070','9835111099',
'7513053900','8125055018','9891004044','9030029815','9891007152','7800000124','9891070229','8052175848','9891070420','9911134337',
'80425853434','9880286052','9542017602','9911554411','4067295700','9910069650','8191923456','9848001117','9012554411','8294982940',
'9162191623','9334553686','9871803333','8125055019','9891006451','9030029816','9891007354','7930333232','9891070273','8052175844',
'9891070435','9911195681','8244244111','9088324365','9848001112','8067335200','9420456789','8914596500','9220001111','7500095526',
'9582943043','8066900900','9247044888','9693181917','9666023456','8125055020','9891006453','9030029817','9891007849','8052175602',
'9891070286','9838004883','9891208746','9891866055','9008024019','9830098300','9848001113','9987981024','8082780827','9176621246',
'9897098970','7500095529','9837399994','8451043280','9326456993','9911852268','8026599990','8125055021','8125599894','9030029818',
'9891007924','8052175603','9891070342','8601001092','9891351851','9933008000','9686112506','8039414141','9848001114','9889012345',
'9839098390','8067922620','8105204433','7500095533','8451042518','8914596400','9771444704','9004609358','8385223791','8125055022',
'8125599908','9030029819','7842055081','8052175601','9891070368','9999999999','9891865964','9686194962','8067188300',
'9848001120','7775557771','989102345','8914596100','9211722715','7500095660','9030053407','7389907433','9848701419','8912547100',
'8912578050','8333999999','8790499899','9848009884','9030053406','9086023456','9870888888','9030053412','9242492424','8061020280','9906908510',
'9885011001','9848001115','9912002974','8061020600','9818843344','9030655008','9440156789','9030053414','9848601060')
order by totalnumberofphones desc

end


GO
USE [master]
GO
