<?php
define('CDAT_BASE', '..');
require_once __DIR__ . '/../controller/includes/layout.php';
layout_begin("Retrieve1");
?>

<table>
    <tr>
    <th width="1126" align="center" scope="col">RETRIEVE1</th>
    </tr>
</table>
<form action="../controller/retrieve1.php" Method="post" enctype="multipart/form-data">
<div>NAME:</div><textarea type="text"  name="NAME"></textarea>
    <br/><br/>
<div>FATHER_NAME:</div><textarea type="text"  name="FATHER_NAME"></textarea>
    <br/><br/>
<input type="submit" value="SUBMIT">
    <br/><br/>
     </form>
<?php layout_end(); ?>
